/sublime/bh_unicode_properties.cache
/sublime/Package Control.user-ca-bundle
/sublime/Package Control.last-run
/sublime/Package Control.cache
/sublime/Package Control.merged-ca-bundle
/sublime/oscrypto-ca-bundle.crt
