<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•</string>
		<key>shortcut</key>
		<string>\.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☐</string>
		<key>shortcut</key>
		<string>\[]</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☑︎</string>
		<key>shortcut</key>
		<string>\[v]</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☒</string>
		<key>shortcut</key>
		<string>\[x]</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\*</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>\/=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¹</string>
		<key>shortcut</key>
		<string>\^1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>\^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>\^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁴</string>
		<key>shortcut</key>
		<string>\^4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁵</string>
		<key>shortcut</key>
		<string>\^5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁶</string>
		<key>shortcut</key>
		<string>\^6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁷</string>
		<key>shortcut</key>
		<string>\^7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁸</string>
		<key>shortcut</key>
		<string>\^8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁹</string>
		<key>shortcut</key>
		<string>\^9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>\+-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≅</string>
		<key>shortcut</key>
		<string>\~=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>\~~</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅟</string>
		<key>shortcut</key>
		<string>\1/</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>\1/2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>\1/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>\1/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅛</string>
		<key>shortcut</key>
		<string>\1/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¾</string>
		<key>shortcut</key>
		<string>\3/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅜</string>
		<key>shortcut</key>
		<string>\3/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅚</string>
		<key>shortcut</key>
		<string>\5/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅝</string>
		<key>shortcut</key>
		<string>\5/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅞</string>
		<key>shortcut</key>
		<string>\7/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⍺</string>
		<key>shortcut</key>
		<string>\alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(^._.^)ﾉ</string>
		<key>shortcut</key>
		<string>\angry-cat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>\apple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁂</string>
		<key>shortcut</key>
		<string>\asterism</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>\backspace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₿</string>
		<key>shortcut</key>
		<string>\btc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>©</string>
		<key>shortcut</key>
		<string>\c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇪</string>
		<key>shortcut</key>
		<string>\caps</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇪</string>
		<key>shortcut</key>
		<string>\capslock</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℃</string>
		<key>shortcut</key>
		<string>\celsius</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>\check</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>●</string>
		<key>shortcut</key>
		<string>\circle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>\cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℅</string>
		<key>shortcut</key>
		<string>\co</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>\command</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>\control</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>©</string>
		<key>shortcut</key>
		<string>\copyright</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>\ctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•‿•</string>
		<key>shortcut</key>
		<string>\cute</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>\delete</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❖</string>
		<key>shortcut</key>
		<string>\diamond</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>÷</string>
		<key>shortcut</key>
		<string>\div</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>÷</string>
		<key>shortcut</key>
		<string>\division</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>·</string>
		<key>shortcut</key>
		<string>\dot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁜</string>
		<key>shortcut</key>
		<string>\dotted-cross</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>\down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↙</string>
		<key>shortcut</key>
		<string>\downleft</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↘</string>
		<key>shortcut</key>
		<string>\downright</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏏︎</string>
		<key>shortcut</key>
		<string>\eject</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌦</string>
		<key>shortcut</key>
		<string>\erase</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋</string>
		<key>shortcut</key>
		<string>\esc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ξ</string>
		<key>shortcut</key>
		<string>\eth</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>€</string>
		<key>shortcut</key>
		<string>\eur</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>€</string>
		<key>shortcut</key>
		<string>\euro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℉</string>
		<key>shortcut</key>
		<string>\fah</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℉</string>
		<key>shortcut</key>
		<string>\fahrenheit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀︎</string>
		<key>shortcut</key>
		<string>\female</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Definitely</string>
		<key>shortcut</key>
		<string>\finately</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁙</string>
		<key>shortcut</key>
		<string>\five-dots</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°)╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>\flipping-table</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁘</string>
		<key>shortcut</key>
		<string>\four-dots</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₣</string>
		<key>shortcut</key>
		<string>\fr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>£</string>
		<key>shortcut</key>
		<string>\gbp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&lt;details&gt;\n&lt;summary&gt;Title&lt;/summary&gt;\n \n&lt;/details&gt;</string>
		<key>shortcut</key>
		<string>\gh-details</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>## Expected Behavior\n\n## Actual Behavior\n\n## Steps to Reproduce the Problem\n\n  1.\n  1.\n  1.\n\n## Specifications\n\n  - Version:\n  - Platform:\n  - Subsystem:\n</string>
		<key>shortcut</key>
		<string>\gh-issue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&gt; **Note**\n&gt;</string>
		<key>shortcut</key>
		<string>\gh-note</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>| Title1 | Title2 |\n| ------- | ------- |\n| Content1 | Content2 |\n  </string>
		<key>shortcut</key>
		<string>\gh-table</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&gt; **Warning**\n&gt;</string>
		<key>shortcut</key>
		<string>\gh-warning</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(-■_■)</string>
		<key>shortcut</key>
		<string>\glasses-disapproval</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>\half</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʘ‿ʘ</string>
		<key>shortcut</key>
		<string>\happy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>…</string>
		<key>shortcut</key>
		<string>\horizontal-ellipsis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>\infinity</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℹ︎</string>
		<key>shortcut</key>
		<string>\info</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₹</string>
		<key>shortcut</key>
		<string>\inr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₩</string>
		<key>shortcut</key>
		<string>\krw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>\left</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↩</string>
		<key>shortcut</key>
		<string>\lefthook</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Calendar</string>
		<key>shortcut</key>
		<string>\lender</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ͡° ͜ʖ ͡°)</string>
		<key>shortcut</key>
		<string>\lenny</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>console.log( )</string>
		<key>shortcut</key>
		<string>\log</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟵</string>
		<key>shortcut</key>
		<string>\longleft</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟶</string>
		<key>shortcut</key>
		<string>\longright</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂︎</string>
		<key>shortcut</key>
		<string>\male</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|  TH  |  TH  |
| ---- | ---- |
|  TD  |  TD  |</string>
		<key>shortcut</key>
		<string>\mdtable</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(。_°)ノ</string>
		<key>shortcut</key>
		<string>\meh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µ</string>
		<key>shortcut</key>
		<string>\micro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\multi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₦</string>
		<key>shortcut</key>
		<string>\ngn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌐◨-◨</string>
		<key>shortcut</key>
		<string>\noggles</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>№</string>
		<key>shortcut</key>
		<string>\numero-sign</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>\opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Fluorescent</string>
		<key>shortcut</key>
		<string>\orescent</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Apparently</string>
		<key>shortcut</key>
		<string>\parantly</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₱</string>
		<key>shortcut</key>
		<string>\php</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℗</string>
		<key>shortcut</key>
		<string>\published</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┳━┳ ヽ(ಠل͜ಠ)ﾉ</string>
		<key>shortcut</key>
		<string>\putting-table</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>\quarter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↻</string>
		<key>shortcut</key>
		<string>\redo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>※</string>
		<key>shortcut</key>
		<string>\reference-mark</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>®</string>
		<key>shortcut</key>
		<string>\registered</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏎</string>
		<key>shortcut</key>
		<string>\return</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>\right</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↪</string>
		<key>shortcut</key>
		<string>\righthook</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ಠ_ಠ)</string>
		<key>shortcut</key>
		<string>\serious-look</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>\shift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>\shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>\shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>␣</string>
		<key>shortcut</key>
		<string>\space</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✦</string>
		<key>shortcut</key>
		<string>\sparkle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★</string>
		<key>shortcut</key>
		<string>\star-filled</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆</string>
		<key>shortcut</key>
		<string>\star-outline</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☀</string>
		<key>shortcut</key>
		<string>\sun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇥</string>
		<key>shortcut</key>
		<string>\tab</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಥ‿ಥ</string>
		<key>shortcut</key>
		<string>\tears-of-joy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>฿</string>
		<key>shortcut</key>
		<string>\thb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>\third</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁖</string>
		<key>shortcut</key>
		<string>\three-dots</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>™</string>
		<key>shortcut</key>
		<string>\tm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▲</string>
		<key>shortcut</key>
		<string>\triangle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↺</string>
		<key>shortcut</key>
		<string>\undo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>\up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↖</string>
		<key>shortcut</key>
		<string>\upleft</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↗︎</string>
		<key>shortcut</key>
		<string>\upright</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>$</string>
		<key>shortcut</key>
		<string>\usd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>\v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Government</string>
		<key>shortcut</key>
		<string>\verment</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Environment</string>
		<key>shortcut</key>
		<string>\viroment</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₫</string>
		<key>shortcut</key>
		<string>\vnd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚠︎</string>
		<key>shortcut</key>
		<string>\warn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◕‿↼</string>
		<key>shortcut</key>
		<string>\wink</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✕</string>
		<key>shortcut</key>
		<string>\x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¥</string>
		<key>shortcut</key>
		<string>\yen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
</array>
</plist>
